option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 5000
    MONGO_URI: mongodb+srv://jack:jack@cluster0.5si7q.mongodb.net/cloudshop?retryWrites=true&w=majority
    JWT_SECRET: cloudshopjwt
    PAYPAL_CLIENT_ID: AT5iDyxy0SMtyWb2mradcAYKi1seRnhgkJcPAI0Fc7FJDX5isifVyNiSj-U2v9XMHXUyye8aYfZkcRf9